@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Questrial&display=swap');

.signup-page-container {
  font-family: 'DM Sans', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

.signup-card {
  background: #F5FAFF;
  padding: 4rem;
  border-radius: 1rem;
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.logo-image {
  width: 111px;
  height: 111px;
  aspect-ratio: 1/1;
}

.app-title {
  font-family: 'Questrial', sans-serif;
  font-size: 100px;
  color: #478CD1;
  text-align: center;
}

.input-group {
  margin-bottom: 1.5rem;
  width: 453px;
  max-width: 100%;
}

.input-label {
  display: block;
  font-size: 25px;
  margin-bottom: 0.75rem;
  color: #000;
}

.input-field {
  width: 453px;
  height: 70px;
  border-radius: 20px;
  background: #D7E6F5;
  border: none;
  padding: 0 20px;
  font-size: 20px;
  outline: none;
}

.button-group {
  margin-top: 2rem;
}

.confirm-button {
  width: 200px;
  height: 70px;
  border-radius: 20px;
  border: none;
  background: #0A66C2;
  color: #FFF;
  font-size: 25px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #08509c;
}
